* {
  font-family: "Roboto Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body .card-images {
  display: none;
}

body .main-content {
  display: flex;
  flex-direction: row;
}

body .main-content .actions-view .content-divider {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 13px;
}

body .main-content .actions-view .canvas-area #unloaded-state--text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

body .main-content .actions-view .canvas-area #gl-canvas {
  visibility: hidden;
}

body .content-divider hr.dashed {
  border-top: 3px dashed #bbb;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 100%;
}

body canvas {
  width: 512px;
  height: 512px;
  border-radius: 8px;
}

body .title {
  text-align: center;
  width: 512px;
}

body .title h1 {
  margin-top: 0px;
}

body .hand-actions-container {
  display: none;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 512px;
  padding: 3px;
}

body .hand-actions-container button {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border-radius: 8px;
  width: 20%;
  padding: 3px;
  margin: 10px 5px 10px 5px;
  font-size: 15px;
}

body .betting-actions-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 512px;
  padding: 3px;
}

body .betting-actions-container button {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border-radius: 8px;
  width: 20%;
  padding: 3px;
  margin: 10px 5px 10px 5px;
  font-size: 15px;
}

body button:hover,
#gl-canvas:hover {
  cursor: pointer;
}

body .betting-actions-container .right-arrow {
  margin: 0;
}

body .start-button,
.hit-card {
  border: 2px solid #4caf50; /* Green */
}

body .start-button:hover,
.hit-card:hover {
  border: 2px solid #4caf50; /* Green */
  background-color: #4caf50; /* Green */
  color: white;
}

body .clear-all-bets,
.split-card {
  border: 2px solid #ff0015; /* Red */
}

body .clear-all-bets:hover,
.split-card:hover {
  border: 2px solid #ff0015; /* Red */
  background-color: #ff0015;
  color: white;
}

body .remove-last-bet,
.stay-card {
  border: 2px solid #d4c222; /* Yellow */
}

body .remove-last-bet:hover,
.stay-card:hover {
  border: 2px solid #d4c222; /* Yellow */
  background-color: #d4c222;
  color: white;
}

body .deal-hand,
.double-down-card {
  border: 2px solid #12c7db; /* Blue */
}

body .deal-hand:hover,
.double-down-card:hover {
  border: 2px solid #12c7db; /* Blue */
  background-color: #12c7db;
  color: white;
}

body .main-content {
  max-width: 950px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

body .main-content .actions-view {
  min-width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .main-content .stats-view {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

body .interface {
  display: flex;
  flex-direction: column;
}

body .interface .interface--title {
  text-align: center;
}

body .interface .interface--title h2 {
  margin: 0px;
}

body .main-content .stats-view .interface .interface--bet-info {
  font-size: 18px;
}

body
  .main-content
  .stats-view
  .interface
  .interface--instructions
  .content-divider {
  display: flex;
  max-width: 100% !important;
}

body .page-footer {
  display: flex;
  flex-direction: column;
  min-width: 950px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #878683;
  border-radius: 8px;
  color: white;
}

.instructions-text {
  font-size: 13px;
}

.interface--instructions h2 {
  margin: 0px;
}
