* {
  font-family: 'Roboto Mono', monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body .content-divider {
  display: flex;
  flex-direction: column;
  width: 512px;
}

body .content-divider hr.dashed {
  border-top: 3px dashed #bbb;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 100%;
}

body canvas {
  width: 512px;
  height: 512px;
  border-radius: 5px;
}

body .title {
  text-align: center;
  width: 512px;
}

body .actions-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 512px;
  padding: 3px;
}

body .actions-container button {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border-radius: 4px;
  width: 25%;
  padding: 5px;
  margin: 10px 5px 10px 5px;
  font-size: 15px;
}

body .actions-container button:hover {
  cursor: pointer;
}


body .actions-container .start-button {
  border: 2px solid #4CAF50; /* Green */
}

body .actions-container .start-button:hover {
  border: 2px solid #4CAF50; /* Green */
  background-color: #4CAF50; /* Green */
  color: white;
}

body .actions-container .clear-all-bets {
  border: 2px solid #ff0015; /* Red */
}

body .actions-container .clear-all-bets:hover {
  border: 2px solid #ff0015; /* Red */
  background-color: #ff0015;
  color: white;
}

body .actions-container .remove-last-bet {
  border: 2px solid #d4c222; /* Yellow */
}

body .actions-container .remove-last-bet:hover {
  border: 2px solid #d4c222; /* Yellow */
  background-color: #d4c222;
  color: white;
}

body .interface {
  width: 512px;
  display: flex;
  flex-direction: column;
}

body .interface .interface--title {
  text-align: center;
}

body .interface .interface--title h2 {
  margin: 0px;
}

body .interface .interface--bet-area{

}

body .page-footer {
  display: flex;
  flex-direction: column;
  width: 512px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #878683;
  border-radius: 5px;
}
